
*.user

Debug/

Release/

cmake-build-debug/
cmake-build-release/

camera_sdl2

\.vscode/

2inside

build/
/dependencies/

cmake-build-debug-mingw/
cmake-build-debug-visual-studio/
cmake-build-release-mingw/
cmake-build-release-visual-studio/
/.idea/misc.xml
/.idea/editor.xml
/.idea/vcs.xml
/.idea/
